@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;400;600;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Catamaran" ,sans-serif;
  background: #000;
  color: #fff;
}

a{
  text-decoration: none;
}

.header{
  position: absolute;
  top: 5%;
  left: 5%;
}

.header .logo{
  font-size: 1.5rem;
  font-weight: 200;
  color: #09f755;
}

.hero{
  height: 100vh;
}

.hero:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: url("assets/home-bg.svg") no-repeat;
  background-size: cover;
  z-index: -1;
}

.intro{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.intro h5{
  font-size: 0.75rem;
  letter-spacing: 2px;
}

.intro h1{
  font-family: sans-serif;
  font-size: 4.5rem;
  margin: 1rem 0;
  background: url("assets/bg.gif");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color:  transparent;
}

.intro h4{
  font-size: 0.8rem;
  letter-spacing: 5px;
  color: #09f755;
}

.me{
  font-size: 0.9rem;
  font-weight: 400;
  color: #797575;
  width: 30ch;
  line-height: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.cta {
    background: #09f755;
    padding: 1rem 2.8rem;
    border-radius: 10rem;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: NONE;
    border: 1px solid #09f755;
    font-family: "Catamaran" ,sans-serif;
    color: #000;
    transition: all .3s ease-in-out;
  }

  .cta:hover{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
  }

  .navbtn{
    background: #000;
    border-radius: 50%;
    position: fixed;
    top: 3.25%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 1rem 0.8rem;
  }

.bar1, .bar2, .bar3{
  background: #fff;
  width: 25px;
  height: 2px;
}

.bar2{
    width: 35px;
}

.work{
  margin: 5rem 10% 2rem 10%;
}

.pre-text{
  color: #797575;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.pre-head{
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.work-list{
  display: grid;
  grid-gap: 2rem;
  color: #000;
  margin-bottom: 6rem;
}

.box-theme{
  padding: 1rem;
  background: linear-gradient(45deg, #53f1f1, #b757e8d4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  position: relative;
}

.box-theme:after{
  content: "";
  position: absolute;
  width: 103%;
  height: 101%;
  top: 1rem;
  right: 0;
  z-index: -1;
}

.box-theme:hover {
  background: #000;
  outline: 2px solid #fff;
  color: #fff;
}

.box-theme:hover a{
  color: #fff;
}

.box-theme:hover:after{
  outline: 2px solid #fff;
}

.work-link{
  display: flex;
  align-self: flex-end;
}

.work-link a{
  margin-left: 1rem;
  font-size: 1.7rem;
  color: #000;
}

.work-name h3{
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

.stack-used{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stack-used h5{
  font-weight: 600;
  font-size: 0.9rem;
}

.web-links{
    border: 1px solid #797575;
    border-bottom: 5px solid #09f755;
    padding: 0.8rem 1.5rem;
}

.web-links a{
  display: flex;
  flex-direction: column;
  color: #797575;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.web-links a i{
  align-self: flex-end;
  font-size: 1.5rem;
}

.web-links a h4{
  font-weight: 600;
  font-size: 1.2rem;
}

.web-links a:hover h4{
  color: #fff;
}

.em, .ph{
  margin-bottom: 0.5rem;
}

.he, .hn{
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.he:hover, .hn:hover{
  color: #09f755;
}

.footer h5{
  color: #797575;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-size: 0.8rem;
  font-weight: 600;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5% 2rem 5%;
}

@media (min-width: 768px){
  .intro h1{
    font-size: 5.5rem;
  }
  .work-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .box-theme{
    height: 20rem;
  }
  .contact{
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1024px){
  .work-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
  .box-theme{
    height: 22rem;
  }
}
